@import url('https://fonts.googleapis.com/css2?family=Alata&family=Oswald:wght@300&family=Poppins:wght@500&family=Roboto:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    behavior: smooth;
}
.box-card{
    height: fit-content;
    width: 550px;
    text-align: center;
    justify-content: center;
   
}



    


